


div.SudokuRow:nth-child(3), div.SudokuRow:nth-child(6) {
	background-color: red;
	margin-bottom: 4px;
}

div.SudokuSquare:nth-child(3), div.SudokuSquare:nth-child(6) {
	background-color: blue;
	margin-right: 4px;
}


